.bar,
.bar1,
.bar2,
.bar3 {
    border-style: solid;
    border-color: transparent;
    width: 14vw;
    height: auto;
    display: inherit;
    position: relative;
    left: 0vw;
}
.Zside,
.Zside1,
.Zside2,
.Zside3 {
    background-color: rgba(0, 15, 255, 0);
    position: relative;
    z-index: 5;
    height: 54.7vh;
    width: 4vw;
    bottom: 3.2vh;
    left: 3.9vw;
    border-width: 0.6vh 0.1vw 0.6vh 0.2vw;
    border-color: #ffffff;
    border-style: solid;
    transform: rotate( 
    -1deg) rotateX( 
    49deg) rotateY( 
    15.9deg);
}

.Xside,
.Xside1,
.Xside2,
.Xside3 {
    background-color: rgba(0, 15, 255, 0);
    position: relative;
    z-index: 5;
    height: 36vh;
    width: 8vw;
    bottom: -5.9vh;
    left: 2vw;
    border-style: solid;
    border-width: 0.4vh 0.4vw 0.4vh 0.4vw;
    border-color: #ffffff;
    transform: rotate( 
    2deg) rotateY( 
    65deg) rotateZ( 
    -7.2deg);
}

.Yside,
.Yside1,
.Yside2,
.Yside3 {
    background-color: rgba(0, 15, 255, 0);
    position: relative;
    z-index: 6;
    height: 4.2vw;
    width: 5.2vw;
    bottom: -0.6vh;
    left: -4.9vw;
    border-width: 0.5vh 0.2vw 0.5vw 0.5vw;
    border-style: solid;
    border-color: #C2DAFF;
    transform: rotatex( 
    68deg) rotate( 
    -70deg) rotate3d(0.7, 1, 1, 
    45deg);
}
#module-name {
    position: absolute;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.5vw;
    left: 5vw;
    bottom: 7.6vh;
    writing-mode: vertical-lr;
}