* {
    background-color: black;
    font-family: 'Noto Sans JP';
}

.main__box {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    z-index: 10;
    border-top-left-radius:     15px ;
    border-top-right-radius:    30px ;
    border-bottom-right-radius: 16px ;
    border-bottom-left-radius:  30px ;
    box-shadow: 0 0 15px #0000FF, 0 0 40px #0000FF, 0 0 80px;
    background: radial-gradient(rgba( 0, 0, 0, 0), rgba(0, 15, 255, 0.7)) padding-box;
}

.main__btnneon {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    z-index: 30;
    border-color: #4B4B4B all;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px 1px white inset;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-top-left-radius:     15px ;
    border-top-right-radius:    30px ;
    border-bottom-right-radius: 16px ;
    border-bottom-left-radius:  30px ;
    opacity: 1;
}

.main__btnneonb {
    position: absolute;
    z-index: 40;
    border: 0px solid transparent;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-top-left-radius:     15px ;
    border-top-right-radius:    30px ;
    border-bottom-right-radius: 16px ;
    border-bottom-left-radius:  30px ;
    background:
    linear-gradient(to right, #9CACFF, #F2F2FF, #E3DBFF) border-box;
    -webkit-mask:  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1)) padding-box,
     linear-gradient(black, black);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude;
}
  
#btnneona {
    position: relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 35;
    color: #646464;
    padding: 15px 30px;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    opacity: 1;
}

#btnneonb {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 45;
    border: 0px solid transparent;
    color: #fff;
    padding: 15px 30px;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
