.main__box {
    position: absolute;
    top:0vh;
    left:0vw;
    display: inline-block;
    z-index: 10;
    border-top-left-radius:     5vw ;
    border-top-right-radius:    8vw ;
    border-bottom-right-radius: 5vw ;
    border-bottom-left-radius:  8vw ;
    border-radius: 0.5vw;
    box-shadow: 0 0 2.5vw #0000FF, 0 0 6vw #0000FF, 0 0 12vw;
    background: radial-gradient(rgba( 0, 0, 0, 0), rgba(0, 15, 255, 0.7)) padding-box;
}

.main__btnneon {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    z-index: 30;
    border-color: #4B4B4B all;
    border-style: solid;
    border-width: 0.05vw;
    box-shadow: 0 0 0.2vw 0.05vw white inset;
    border-top-left-radius:     5vw ;
    border-top-right-radius:    8vw ;
    border-bottom-right-radius: 5vw ;
    border-bottom-left-radius:  8vw ;
    border-radius: 0.5vw;
    opacity: 1;
}

.main__btnneonb {
    position: absolute;
    z-index: 40;
    border: 0px solid transparent;
    top:0vh;
    left:0vw;
    border-top-left-radius:     5vw ;
    border-top-right-radius:    8vw ;
    border-bottom-right-radius: 5vw ;
    border-bottom-left-radius:  8vw ;
    border-radius: 0.5vw;
    background:
    linear-gradient(to right, #9CACFF, #F2F2FF, #E3DBFF) border-box;
    -webkit-mask:  linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1)) padding-box,
     linear-gradient(black, black);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude;
}
  
#btnneona {
    position: relative;
    z-index: 35;
    color: #646464;
    padding: 0.25vw 0.75vw;
    letter-spacing: 0.25vw;
    font-size: 1.25vw;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    opacity: 1;
}

#btnneonb {
    position: absolute;
    z-index: 45;
    border: 0px solid transparent;
    color: #fff;
    padding: 0.25vw 0.75vw;
    letter-spacing: 0.25vw;
    font-size: 1.25vw;
    text-align: center;
    text-decoration: none;
}
