.scroll-bar {
    position:absolute;
    display: inline-block;
    margin-top: 50px;
    background: linear-gradient(to top, rgb(0, 0, 0, 0) 35%, rgb(0, 17, 255, 0.4) 70%, rgb(0, 17, 255, 1) 90%, white);
    height: 6vh;
    width: 100%;
    filter: blur(0px);
    padding-left: 5%;
    color: white;
    z-index: 45;
}

.player-box {
    display: block;
    position: absolute;
	background: linear-gradient(to bottom, #000000 55%, #222222 100%);
    color: white;
    height: 100%;
    width: 100%;
    padding-left: 4%;
}


.card-item {
    color: rgb(255, 255, 255, 0);
    margin-top: 32vh;
    padding-top: 20px;
    margin-left: 20px;
    display: inline-block;
    background-color: rgb(20, 20, 20);
    height: 400px;
    width: 230px;
    text-align: center;
    opacity: 0.7;
    vertical-align: middle;
    cursor: pointer;
    transform: perspective(400px) rotateY(35deg);
    border-radius: 5%;
    font-family: 'Zen Dots', cursive;
    font-size: 12px;
    border-width: 0px;
    border-color: rgba(34, 37, 255, 0);
    border-style: solid;
    box-shadow: inset 0 0 0px #000;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 1) 1%, rgb(0, 17, 255) 50%, rgba(0, 0, 0, 1) 100%) 
    100% 0 100% 0/0px 0 0px 0 stretch;
}

.card-item:hover {
    opacity: 1;
    color: rgb(255, 255, 255, 1);
    background-color: rgb(20, 20, 20, 0);
    transition: all 1000ms ease;
    box-shadow: inset 0 0px 1px #000;
    transform: perspective(400px) rotateY(0deg);
    filter: blur(0px);
    border-color:  rgba(0, 47, 255, 0.5);
    border-width: 5px;
    border-image: linear-gradient(to left, rgb(0, 0, 0) 1%, rgb(60, 73, 255) 30%,rgb(255, 255, 255) 50%,rgb(60, 73, 255) 70%, rgba(0, 0, 0, 1) 100%) 
    100% 0 100% 0/3px 0 0px 0 stretch;
    border-image-slice: 1;
}

.card-title {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: rgb(60, 73, 255);
}

.card-description {
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    opacity: 1;
}

.home-background-box {
    display: block;
    background-color: rgb(0, 0, 0);
    height: 99%;
    width: 100%;
}