.container {
    position: absolute;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    display: inline-flex;
    width: 60vw;
    bottom: 30vh;
    height: 50vh;
    left: 41vw;
}